/*
essential styles:
these make the slideshow work
*/
#slides{
    position: relative;
    width: 100%;
    height: 750px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.heading {
padding-bottom: 1%;
}

.showing{
    opacity: 1;
    z-index: 2;
}


.controls{
    display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
    font-size: 500%;
    padding-top: 5%;
    box-sizing: border-box;
    background: #333;
    color: black;
  
  background-size: cover;
}

.slide:nth-of-type(1){
    background-color: #ececec;
  /* background-image: url('../img/project/slideshow-photo/1.jpg'); */
}

.slide:nth-of-type(2){
    background-color:  #ececec;
  /* background-image: url('../img/project/slideshow-photo/2.jpg'); */
}

.slide:nth-of-type(3){
    background-color:  #ececec;
  /* background-image: url('../img/project/slideshow-photo/3.jpg'); */
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 23%;
}

/* .next-button {
  display: flex;
  justify-content: space-between;
} */

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

img {
  width: 50%;
}

.content {
  font-size: 28%;
  padding-top: 2%;
}

.previous {
  margin-right: 7%;
}

.next {
  margin-left: 7%;
}