.flex-container {
    display: flex;
    justify-content: center;
  }
  
  .flex-container .content-left {
    width: 90%;
    margin-left: 1.5%;
  }
  
  /* Content */
  .content-left {
    text-align: center;
  }
  
  .burger-load {
    display: block;
    width: 56%;
    max-width: 100%;
    padding-top: 20%;
    padding-right: 27%;
    float: right;
  }
  
  .heading, .slogan {
    text-align: center;
  }
  
  .heading {
    padding-top: 8%;
    padding-bottom: 2%;
    font-size: 300%;
  }
  
  .slogan {
    padding-bottom: 4%;
    font-size: 80%;
  }
  
  .activities {
    justify-content: center;
    display: flex;
  }
  
  .feature:last-child {
    margin: 0px;
  }
  
  .basic-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .feature {
    width: 50%;
    margin-top: 10%;
  }
  
  
  
  /* Gallery */
  .flex-item-square {
  margin-right: 26px;
  margin-bottom: 30px;
  }
  .flex-item-square:last-child {
    margin-right: 0px;
  }

  .flex-item-square img {
    height: 130px;
    width: 130px;
    margin-left: -7%;
    margin-top: 0px;
    color: white;
  }
  .flex-item-square img:last-child {
    margin-right: 0px;
  }
  .flex-item-square img:hover {
    transform: scale(1.1);
  }

  .gellery {
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 7%;

  }

  /* TESTTEST */
  
  