th, tr, td {
  border: 1px solid black;
}

.one{
  padding: 1%;
  text-align: center;
}

.two {
  padding: 1%;
}

.three {
  padding: 1%;
}

td {
  padding: 1%;
}

.date {
  font-size: 80%;
  padding: 0.6%;
}

.third {
  text-decoration: underline;
  }
