
main {
  background-color: #ececec;
  margin-top: 76.719px;
}
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .content-left {
  width: 90%;
  margin-left: 2%;
}

.content-left {
  text-align: center;
}

.burger-load {
  display: block;
  width: 56%;
  max-width: 100%;
  padding-top: 20%;
  padding-right: 27%;
  float: right;
}

.heading, .slogan {
  text-align: center;
}

.clear {
  clear: both;
}

.heading {
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 300%;
}

.slogan {
  padding-bottom: 4%;
  font-size: 120%;
}

.activities {
  justify-content: center;
  display: flex;
}

.feature:last-child {
  margin: 0px;
}

.basic-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  width: 50%;
  margin-top: 10%;
}

.goood {
  text-align: center;
  font-size: 140%;
  font-style: oblique;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 5%;
}

.bar-font {
  font-size: 110%;
  font-style: oblique;
  padding-top: 2%;
}

.bar {
  padding-left: 2.9%;
  padding-bottom: 0%;
  margin-left: 4%;
}

.percent-bar {
  width: 70%;
  border: #4C4C4C 2px solid;
  /* background-color: #EDEDED */
}

.percent-value {
  width: 0%;
  background-color: #4C4C4C;
  padding: 1em 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
  transition: width 2s ease-in-out;
}

span.bold {
  font-weight: bold;
}

.first {
  text-decoration: underline;
  }

.percent {
  padding-right: 2%
  }

.button-load {
  display: inline-block;
  padding: 0.5% 1%;
  font-size: 125%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-style: oblique;
  margin-bottom: 1%;
  margin-top: 5%;
}

.button-load:hover {
  background-color: #ffffff;
  color: black;
}

.button-load:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-my {
  text-align: center;
}

.reset-button{
  display: inline-block;
  padding: 0.5% 1%;
  font-size: 125%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-style: oblique;
  margin-bottom: 5%;
  margin-top: 1%;
}

.reset-button:hover {
  background-color: #ffffff;
  color: black;
}

.reset-button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}