#container-slides {
  position: relative;
  width: 50%;
  height: 380px;
  padding: 0px;
  margin: 0 auto;

}

.slider {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slider {
    font-size: 100%;
    padding: 10%;
    box-sizing: border-box;
    /* background: #333; */
    color: #fff;
    background-size: cover;
}

.slider:nth-of-type(1) {
    /* background: red; */
    background-image: url('../img/project/slideshow-photo/1.jpg');
}
.slider:nth-of-type(2) {
    /* background: orange; */
    background-image: url('../img/project/slideshow-photo/2.jpg');
}
.slider:nth-of-type(3) {
    /* background: green; */
    background-image: url('../img/project/slideshow-photo/3.jpg');
}
.slider:nth-of-type(4) {
    /* background: blue; */
    background-image: url('../img/project/slideshow-photo/4.jpg');
}

/* .picture {
  width: 100%;
  height: 100%;
} */