header ul {
  width: 100%;
  height: 100%;
          /* white-space: nowrap; */
}

nav {
  background-color: black;
  float: left;
  width: 79%;
}

header .logo img {
width: 82%;
padding: 15px;
min-width: 100px;
/* margin: 12.5px;
margin-left: 35px; */

header .logo {
  width: 10%;
  height: 100%;
  min-width: 150px;
  float: left;
  background-color: #393939;
}

header div a {
  width: 100%;
  height: 100%;
}

header li {
    float: left;
    margin: 10px 20px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 360%;
    width: 24%;
    /* display: inline; */
    padding: 0 30px;
}
