
/* Start reset Browser styles  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    margin: 0 auto;
    width: 80%;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* END reset Browser styles */

div {
/* border: 1px blue solid; */
/* background-color: #b5b5b5; */
}

/* header */

header {
  background-color: black;
}

header .logo {
  width: 13%;
  float: left;
  background-color: #393939;
}

header .logo img {
  width: 60%;
  margin: 12.5px;
  margin-left: 35px;
}

nav {
  background-color: black;
  float: left;
}

header ul {
  list-style-type: none;
}

header a {
  color: white;
}

header li {
 float: left;
 margin-top:  37.5px;
 margin-right: 13.49px;
 margin-bottom: 37.5px;
 margin-left: 13.49px;
 color: white;
 font-family: 'Permanent Marker', cursive;
 font-size: 360.1%;
}

.first:first-child {
  text-decoration: underline;
}

.flex-container {
  display: flex;
}

.selfie {
  float: right;
}

.burger-load {

}

.heading, .slogan {
  text-align: center;
}

.clear {
  clear: both;
}

.heading {
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 300%;
}

.slogan {
  padding-bottom: 4%;
  font-size: 120%;
}
.strengthen {
  /* float: left; */
}

.activities {
  justify-content: center;
  display: flex;
}

.feature {
  margin-right: 100px;
}

.feature:last-child {
  margin: 0px;
}

.basic-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.goood {
  text-align: center;
  font-size: 140%;
  font-style: oblique;
  padding-top: 2%;
  padding-bottom: 1%;
}

.bar-font {
  font-size: 110%;
  font-style: oblique;
}

.percent-bar {
  width: 70%;
  border: #4C4C4C 2px solid;
  /* background-color: #EDEDED */
}

.bar-font {
  padding-top: 2%;
}

.percent-value-1 {
  width: 85%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-2 {
  width: 75%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-3 {
  width: 55%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-4 {
  width: 65%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-5 {
  width: 60%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

/* .microfosft-office {
text-align: center;
} */

.percent-value-6 {
  width: 80%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-7 {
  width: 70%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-8 {
  width: 45%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}
