<div class="flex-box">
<div id="container-slide-B">
  <div class="slide-B verfremdung showing">Slide 1</div>
  <div class="slide-B verfremdung ">Slide 2</div>
  <div class="slide-B verfremdung ">Slide 3</div>
  <div class="slide-B verfremdung ">Slide 4</div>
</div>

