<div class="flex-box">
<div id="container-slide-B">
  <div class="slide-B filter showing">Slide 1</div>
  <div class="slide-B filter ">Slide 2</div>
  <div class="slide-B filter ">Slide 3</div>
  <div class="slide-B filter ">Slide 4</div>
</div>

