<div class="flex-box">
<div id="container-slide-B">
  <div class="slide-B verbesserung showing">Slide 1</div>
  <div class="slide-B verbesserung ">Slide 2</div>
  <div class="slide-B verbesserung ">Slide 3</div>
  <div class="slide-B verbesserung ">Slide 4</div>
</div>

