/*
essential styles:
these make the slideshow work
*/
#slide-A{
    position: relative;
    width: 100%;
    height: 750px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide-A{
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.heading {
padding-bottom: 1%;
}

.controls{
    display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide-A{
    font-size: 500%;
    padding-top: 5%;
    box-sizing: border-box;
    background: #333;
    color: black;
  
  background-size: cover;
}

.slide-A:nth-of-type(1){
    background-color: #ececec;
  /* background-image: url('../img/project/slideshow-photo/1.jpg'); */
}

.slide-A:nth-of-type(2){
    background-color:  #ececec;
  /* background-image: url('../img/project/slideshow-photo/2.jpg'); */
}

.slide-A:nth-of-type(3){
    background-color:  #ececec;
  /* background-image: url('../img/project/slideshow-photo/3.jpg'); */
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 23%;
}

/* .next-button {
  display: flex;
  justify-content: space-between;
} */

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

img {
  width: 50%;
}

.content {
  font-size: 28%;
  padding-top: 2%;
}

.previous {
  margin-right: 7%;
}

.next {
  margin-left: 7%;
}


/* BRAUCH ICH FÜR BEIDE DATEIEN */

.showing{
  opacity: 1;
  z-index: 2;
}


/* DAS IST DER SLIDE-B FÜR DIE BILDER IN DER MITTE */

#container-slide-B {
  position: relative;
  width: 50%;
  height: 380px;
  padding: 0px;
  margin: 0 auto;
}

.slide-B {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

.slide-B {
    font-size: 100%;
    padding: 10%;
    box-sizing: border-box;
    /* background: #333; */
    color: #fff;
    background-size: cover;
}


/* SLIDER: VERBESSERUNG */

.verbesserung:nth-of-type(1) {
    /* background: red; */
    background-image: url('../img/project/slideshow-photo/1.jpg');
}
.verbesserung:nth-of-type(2) {
    /* background: orange; */
    background-image: url('../img/project/slideshow-photo/2.jpg');
}
.verbesserung:nth-of-type(3) {
    /* background: green; */
    background-image: url('../img/project/slideshow-photo/3.jpg');
}
.verbesserung:nth-of-type(4) {
    /* background: blue; */
    background-image: url('../img/project/slideshow-photo/4.jpg');
}


/* SLIDER: FILTER */

.filter:nth-of-type(1) {
    /* background: red; */
    background-image: url('../img/project/slideshow-photo/4.jpg');
}
.filter:nth-of-type(2) {
    /* background: orange; */
    background-image: url('../img/project/slideshow-photo/3.jpg');
}
.filter:nth-of-type(3) {
    /* background: green; */
    background-image: url('../img/project/slideshow-photo/2.jpg');
}
.filter:nth-of-type(4) {
    /* background: blue; */
    background-image: url('../img/project/slideshow-photo/1.jpg');
}


/* SLIDER: VERBESSERUNG */

.verfremdung:nth-of-type(1) {
    /* background: red; */
    background-image: url('../img/project/slideshow-photo/1.jpg');
}
.verfremdungg:nth-of-type(2) {
    /* background: orange; */
    background-image: url('../img/project/slideshow-photo/2.jpg');
}
.verfremdungung:nth-of-type(3) {
    /* background: green; */
    background-image: url('../img/project/slideshow-photo/3.jpg');
}
.verfremdung:nth-of-type(4) {
    /* background: blue; */
    background-image: url('../img/project/slideshow-photo/4.jpg');
}

/* .picture {
  width: 100%;
  height: 100%;
} */