/* START reset Browser styles  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
    margin: 0 auto;
    width: 80%;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/* END reset Browser styles */

.clear {
  clear: both;
}

/* HEADER */

header {
  background-color: black;
  position: fixed;
  width: 80%;
  top: 0;
  z-index: 9000;
}

header .logo {
  float: left;
  width: 8%;
  height: 76%;
  min-width: 74px;
  max-width:  74px;
  background-color: #393939;
}

header .logo img {
  width: 78%;
  padding: 8px;
  min-width: 45px;
}

nav {
  transform: translateY(-50%);
  background-color: black;
  float: left;
  width: 86%;
  position: absolute;
  top: 50%;
  left: 81px;
}

header ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
}

header a {
  color: white;
  width: 100%;
  height: 100%;
}

header li {
    float: left;
    margin: 7px 10px;
    color: white;
    font-family: 'Source Serif Pro','Lato','Permanent Marker';
    font-size: 162%;
}

/* MAIN */
main {
  background-color: #ececec;
  margin-top: 76.719px;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  float: left;
  width: 100%;
}
.impressum {
  float: left;
  width: 50%;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 7%;
}

.mittelstrich {
  border-right: white;
}

.socialmedia {
  width: 9%;
  float: right;
  margin-top: 20px;
  margin-bottom:  20px;
}

.snap {
  width: 5%;
  float: right;
  margin-top: 10px;
  margin-right: 8.5%;
}

.insta {
  width: 5%;
  float: right;
  margin-top: 10px;
}

.icon {
  width: 40px;
  float: right;
}
