 <header>
  <div class="logo">
    <a href="#"><img src="img/Logo.png" /></a>
  </div>
  <nav>
    <ul>
      <li><a class="first" href="#">ABOUT</a></li>
      <li>|</li>
      <li><a class="second" href="#">PROJECT</a></li>
      <li>|</li>
      <li><a class="third" href="berichtsheft.html">NEWS</a></li>
      <li>|</li>
      <li><a class="vour" href="#">CONTACT</a></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>
