header, div, footer, h1, ul, li, a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  color:olive;
  text-decoration:none;
  cursor: crosshair;
}
.clear {
  clear: both;
}
body {
  margin: 0 auto;
  width: 80%;
}
h1 {
  padding: 50px;
  text-align: center;
}
.stage {
  background-image: url("../img/Hintergund_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.flex-container {
  display: flex;
}
.flex-item-square {
height: 200px;
width: 200px;
background-color: black;
margin-right: 26px;
margin-top: 30px;
color: white;
position: relative;
}
.flex-item-square:last-child {
  margin-right: 0px;
}
.flex-item-square div {
    border: 0;
    padding: 0;
    font:  50px arial sans-serif;
    line-height: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
}
body div .flex-item-square img {
  height: 200px;
  width: 200px;
  margin-right: 30px;
  margin-top: 0px;
  color: white;
  position: relative;
}
body div .flex-item-square img:last-child {
  margin-right: 0px;
}
body div .flex-item-square img:hover {
  transform: scale(1.1);
}
.textbox {
  width: 68%;
}
.sidebar {
  width: 32%;
}
.sidebar img {
  width: 100%;
}
/* li ul li {
  text-indent: 20px;
} */
.bulletpoint {
  list-style-image: url('../img/bl.gif');
  margin-left: 20px;
}
.listhorizontal li {
  font-size: 360.8%;
}
/* header */
header {
  background-color: #393939;
}
body header .logo {
  width: 8%;
  float: left;
}
 body header .logo img {
  width: 100%;
  margin: 12.5px;
  margin-left: 35px;
}
 body header nav {
  float: left;
  background-color: black;
  /* margin-left: 24.031249px; */
  margin-left: 5%
}
.galerie-balken {
  background-color: #393939;
}
.galerie {
  background-color: #393939;
}
 body header nav ul {
  max-width: 100%;
  list-style-type: none;
}
body header nav ul li {
  float: left;
  margin-top: 26px;
  margin-right: 15px;
  margin-bottom: 26px;
  margin-left: 12.484px;
}
/* .first {
  float:left;
  margin-left: 34px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.second {
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}
.thirt {
  float: left;
  margin-left: 34px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 67px;
} */
body header nav ul li {
    font-family: 'Permanent Marker', cursive;
    text-transform: full-width;
    color: white;
    font-size: 76%;
}
header a {
/* peddimg: 20px */
float: left;
}
/* footer */
footer {
  background-color: #393939;
  margin-top: 30px;
}
.footer_1 {
  font-size: 150%;
  margin-left: 20px;
}
/* @media (max-width: 1664px){
  body header nav {
   float: column;
   background-color: black;
   margin-left: 5%
  }
  .listhorizontal a {
     font-size: 300%;
  }
 } */
