
/* Start reset Browser styles  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    margin: 0 auto;
    width: 80%;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}


/* END reset Browser styles */


div {
/* border: 1px blue solid; */
/* background-color: #b5b5b5; */
}

main {
  background-color: #ececec;
  margin-top: 76.719px;
}

/* header */

header {
  background-color: black;
  position: fixed;
  width: 80%;
  top: 0;
}

header .logo {
  float: left;
  width: 8%;
  height: 76%;
  min-width: 74px;
  max-width:  74px;
  background-color: #393939;
}

header .logo img {
  /* width: 60%; */
  /* margin: 12.5px;
  margin-left: 35px; */
  width: 78%;
  padding: 8px;
  min-width: 45px;
}

nav {
  transform: translateY(-50%);
  background-color: black;
  float: left;
  width: 68%;
  position: absolute;
  top: 50%;
  left: 90px;
}

header ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
}

header a {
  color: white;
  width: 100%;
  height: 100%;
}

header li {
    float: left;
    margin: 7px 10px;
    color: white;
    font-family: 'Source Serif Pro','Lato','Permanent Marker';
    font-size: 162%;
    /* width: 24%; */
    /* display: inline; */
    /* padding: 0 30px; */
}

.first:first-child {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .content-left {
  width: 90%;
}

.content-left {
  text-align: center;
}

.burger-load {
  display: block;
  width: 56%;
  max-width: 100%;
  padding-top: 20%;
  padding-right: 27%;
  float: right;
}

.heading, .slogan {
  text-align: center;
}

.clear {
  clear: both;
}

.heading {
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 300%;
}

.slogan {
  padding-bottom: 4%;
  font-size: 120%;
}

.activities {
  justify-content: center;
  display: flex;
}

.feature:last-child {
  margin: 0px;
}

.basic-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  width: 50%;
  margin-top: 10%;
}

.goood {
  text-align: center;
  font-size: 140%;
  font-style: oblique;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 5%;
}

.bar-font {
  font-size: 110%;
  font-style: oblique;
  padding-top: 2%;
}

.bar {
  padding-left: 3%;
  padding-bottom: 4%;
}

.percent-bar {
  width: 70%;
  border: #4C4C4C 2px solid;
  /* background-color: #EDEDED */
}

.percent-value-1 {
  width: 85%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-2 {
  width: 75%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-3 {
  width: 55%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-4 {
  width: 65%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-5 {
  width: 60%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-6 {
  width: 80%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-7 {
  width: 70%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-8 {
  width: 45%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

span.bold {
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  float: left;
  width: 100%;
}
.impressum {
  float: left;
  width: 50%;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mittelstrich {
  border-right: white;
}
.socialmedia {
  width: 9%;
  float: left;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom:  20px;
}

.snap {
  width: 5%;
  float: left;
  margin-top: 10px;
}

.insta {
  width: 15%;
  float: left;
  margin-top: 10px;
}

.icon {
  width: 40px;
  float: left;
}

.first {
  text-decoration: underline;
  }