 <header>
  <div class="logo">
    <a href="/"><img src="img/global/header/Logo.png" /></a>
  </div>
  <nav>
    <ul>
      <li><a class="first" href="about.html">ABOUT</a></li>
      <li>|</li>
      <li><a class="second" href="slideshow-bildbearbeitung.html">PROJECT</a></li>
      <li>|</li>
      <li><a class="third" href="berichtsheft.html">NEWS</a></li>
      <li>|</li>
      <li><a class="vour" href="contact.html">CONTACT</a></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>
