<footer>
  <div>
    <div class="mittelstrich">
      <a href=""><p class="impressum">Impressum</p></a>
    </div>
    <div class="socialmedia"> 
      <p>Socialmedia</p>
    </div>
    <div class="snap">
      <a href="#"><img src="img/global/footer/snapchat_k.png" class="icon" onclick="window.open('img/global/footer/Snapchat.jpg')" alt="Das ist mein Logo"></a>
    </div>
    <div class="insta">
      <a href="https://www.instagram.com/robin.ljn/?hl=de" target="_blank"><img src="img/footer/global/insta_k.png" class="icon" alt="Das ist mein Logo"></a>
    </div>
  </div>
</footer>

