<div class="flex-box">
<div id="container-slides">
  <div class="slide showing">Slide 1</div>
  <div class="slide">Slide 2</div>
  <div class="slide">Slide 3</div>
  <div class="slide">Slide 4</div>
</div>
