<!-- Einbindung was im Tab steht -->
<link rel="icon" href="img/global/link/Logo_03.ico" type="image/Logo_03.ico" />

<!-- css einbinden -->
<link rel="stylesheet" href="../css/styles-global.css" type="text/css" />

<!-- Schriften einbinden -->
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" />
