
main {
  background-color: #ececec;
  margin-top: 76.719px;
}
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .content-left {
  width: 90%;
  margin-left: 2%;
}

.content-left {
  text-align: center;
}

.burger-load {
  display: block;
  width: 56%;
  max-width: 100%;
  padding-top: 20%;
  padding-right: 27%;
  float: right;
}

.heading, .slogan {
  text-align: center;
}

.clear {
  clear: both;
}

.heading {
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 300%;
}

.slogan {
  padding-bottom: 4%;
  font-size: 120%;
}

.activities {
  justify-content: center;
  display: flex;
}

.feature:last-child {
  margin: 0px;
}

.basic-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  width: 50%;
  margin-top: 10%;
}

.goood {
  text-align: center;
  font-size: 140%;
  font-style: oblique;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 5%;
}

.bar-font {
  font-size: 110%;
  font-style: oblique;
  padding-top: 2%;
}

.bar {
  padding-left: 2.9%;
  padding-bottom: 4%;
  margin-left: 4%;
}

.percent-bar {
  width: 70%;
  border: #4C4C4C 2px solid;
  /* background-color: #EDEDED */
}

.percent-value-1 {
  width: 85%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-2 {
  width: 75%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-3 {
  width: 55%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-4 {
  width: 65%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-5 {
  width: 60%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-6 {
  width: 80%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-7 {
  width: 70%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

.percent-value-8 {
  width: 45%;
  background-color: #4C4C4C;
  padding: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: right;
  color: white;
}

span.bold {
  font-weight: bold;
}

.first {
  text-decoration: underline;
  }